.controls
{
	display:flex;
	justify-content:space-between;
	align-self:center;
}
	.controls *
	{
		height:38px;
	}

input[type-search]
{
	text-align:center;
}

::deep .movie-title
{
	width:50%;
}
::deep .release-date
{
	width:25%;
}
::deep .genre
{
	width:30%;
}
