.details 
{
	display:flex;
	justify-content:space-between;
}
	.details > div
	{
		width:25%;
	}
.photo-container img
{
	width:85%;
	
}
.photo-container div
{
	min-height: 256px;
	border: solid 1px;
}
